<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Boston House Price Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="CRIM" placeholder="per capita crime rate" required="required" /><br>
    	<input type="text" name="ZN" placeholder="land zoned" required="required" /><br>
        <input type="text" name="INDUS" placeholder="business acres" required="required" /><br>
        <input type="text" name="CHAS" placeholder="Charles River" required="required" /><br>
        <input type="text" name="NOX" placeholder="Nitric oxides concentrationOX" required="required" /><br>
        <input type="text" name="RM" placeholder="number of rooms per dwelling" required="required" /><br>
        <input type="text" name="Age" placeholder="owner-occupied" required="required" /><br>
        <input type="text" name="DIS" placeholder="distances to five Boston employment centres" required="required" /><br>
        <input type="text" name="RAD" placeholder="radial highways" required="required" /><br>
        <input type="text" name="TAX" placeholder="property-tax rate" required="required" /><br>
        <input type="text" name="PTRATIO" placeholder="pupil-teacher ratio" required="required" /><br>
        <input type="text" name="B" placeholder="black people proportion" required="required" /><br>
        <input type="text" name="LSTAT" placeholder="lower status of the population" required="required" /><br>

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{text}}

</body>
</html>